.cartProdImg {
    width: 9rem;
}

.cartProd {
    margin: 0 auto;
    max-width: 55rem;
}

.cartTitle {
    margin: 15px auto;
}

.formDiv {
    margin: 0 auto;
    padding: 2rem;
    max-width: 55rem;
}