.imgHeader {
    width: 17rem;
}

.cartIcon {
    width: 3rem;
}

.categorias {
    font-style: italic;
    font-size: x-large;
    color: black;
}

.activeCategorias {
    color: black;
    font-style: italic;
    font-size: x-large;
    background-color: cadetblue;
}

.cartShow {
    width: 57px;
}