.App {
  text-align: center;
  background-color: antiquewhite;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: cadetblue;
  margin: 3rem auto;
}

.titulo {
  margin-top: 2rem;
}